<%- include('partials/header')%>



<!-- 
    navbar: #0C0C0C
    bg: #121212
    details: #272727
    details green: #3CC36B
    font: white
    somethings: black
 -->

<header class=" bg-darkness">
  <div class="container">
    <div class="row align-items-center visual-top">

      <div class="col-md-6 col-12 mt-5">
        <img src="/images/undraw_music.svg" alt="Music">
        <p class="lead my-3">A Arpeggio Musical está preparado para animar seus eventos. Continue lendo para saber mais!
        </p>
      </div>

      <div class="col-md-6 col-12 my-5">
        <form>

          <div class="form-group">
            <label for="e-mail">E-mail</label>
            <input type="email" class="form-control" id="e-mail" aria-describedby="emailHelp"
              placeholder="email@exemplo.com">
          </div>

          <div class="form-group">
            <label for="complete-name">Nome completo</label>
            <input type="text" class="form-control" id="complete-name" placeholder="Nome ">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
              placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <h1 class="display-4 text-center mt-5">Sobre nós</h1>

    <div class="d-flex justify-content-center mt-4">
      <p class="col-12 col-md-8 text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus molestiae
        autem
        doloremque. Cum ducimus
        alias perspiciatis iure maxime repellat beatae!</p>
    </div>

    <div class="row mt-5">

      <div class="col-md-4 col-12 my-2">
        <div class="card">
          <img class="card-img-top p-5" src='/images/undraw_piano.svg' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 my-2">
        <div class="card">
          <img class="card-img-top p-5" src='/images/undraw_partying.svg' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 my-2">
        <div class="card">
          <img class="card-img-top p-5" src='/images/undraw_wedding.svg' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div> <!-- cards -->
  </div> <!-- container -->


  <!-- Segunda section -->
  <div class="mt-5 bg-darkness text-light">
    <div class="container">
      <h1 class="display-4 text-center pt-5">Lorem, ipsum dolor.</h1>

      <div class="d-flex justify-content-center mt-4">
        <p class="col-12 col-md-8 text-center lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus molestiae
          autem
          doloremque. Cum ducimus
          alias perspiciatis iure maxime repellat beatae!</p>
      </div>

      <!-- Colunas -->

      <div class="row align-items-center visual-top">

        <div class="col-md-6 col-12 mt-5">

          <div class="card-black mt-3">
            <div class="card-body">
              <h5 class="text-sucess"><span class="count mr-4">1</span>Donwload</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, atque?</p>
            </div>
          </div>

          <div class="card-black mt-3">
            <div class="card-body">
              <h5 class="text-sucess"><span class="count mr-4">2</span>Donwload</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, atque?</p>
            </div>
          </div>

          <div class="card-black mt-3">
            <div class="card-body">
              <h5 class="text-sucess"><span class="count mr-4">3</span>Donwload</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, atque?</p>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-12 mt-5">
          <img src="/images/undraw_order.svg" alt="Music">
        </div>

      </div> <!-- row -->

      <div class="d-flex justify-content-center py-5">
        <button class="btn btn-outline-success orc">Orçamento</button>
      </div>
    </div> <!-- container -->


    <!-- Redes sociais -->
</section>

<!-- Terceira section -->

<section class="visual-top d-flex align-items-center">

  <div class="container">

    <div class="d-flex justify-content-center">
      <div class="find"></div>
    </div>

    <h1 class="display-4 text-center py-5 ">Encontre-nos</h1>
    <div class="d-flex justify-content-center mt-4">
      <p class="col-12 col-md-8 text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus molestiae
        autem
        doloremque. Cum ducimus
        alias perspiciatis iure maxime repellat beatae!</p>
    </div>

    <div class="d-md-flex justify-content-center my-4">

      <a class="btn btn-outline-success link" href="#"> <i class="fab fa-instagram mx-2"></i> Encontre-nos nos
        Youtube</a>

      <a class="btn btn-outline-success link" href="#"><i class="fab fa-youtube mx-2"></i> Encontre-nos nos
        Youtube</a>

    </div>

    <div class="d-flex justify-content-center">
      <div class="find"></div>
    </div>

  </div>
</section>

<!-- Demonstrações -->

<section class="mt-5 bg-darkness text-light">
  <div class="container py-5">

    <h1 class="display-4 text-center">Ouça</h1>
    <div class="d-flex justify-content-center mt-4">
      <p class="col-12 col-md-8 text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus molestiae
        autem
        doloremque. Cum ducimus
        alias perspiciatis iure maxime repellat beatae!</p>
    </div>



    <div class="row py-5">

      <figure class="figure col-12 col-md-4">
        <img id="img1" src="/images/albuns/album-arpeggio.jpg">
        <figcaption class="figure-caption">Ouça Ed Sheeran.</figcaption>
      </figure>

      <figure class="figure col-12 col-md-4">
        <img id="img2" src="/images/albuns/album-arpeggio-2.jpg">
        <figcaption class="figure-caption">Ouça um hino.</figcaption>
      </figure>

      <figure class="figure col-12 col-md-4">
        <img id="img3" src="/images/albuns/album-arpeggio-3.jpg">
        <figcaption class="figure-caption">Ouça Maroon 5.</figcaption>
      </figure>

      <figure class="figure col-12 col-md-4">
        <img id="img4" src="/images/albuns/album-arpeggio-4.jpg">
        <figcaption class="figure-caption">Ouça Linkin Park.</figcaption>
      </figure>

      <figure class="figure col-12 col-md-4">
        <img id="img5" src="/images/albuns/album-arpeggio-5.jpg">
        <figcaption class="figure-caption ">Ouça um acústico.</figcaption>
      </figure>

      <figure class="figure col-12 col-md-4">
        <img id="img6" src="/images/albuns/album-arpeggio-6.jpg">
        <figcaption class="figure-caption">Ouça Avicii.</figcaption>
      </figure>

    </div>
  </div>

</section>


<!-- Sons -->
<audio id="song1" src="songs/mus-1.mp3"></audio>
<audio id="song2" src="songs/mus-2.mp3"></audio>
<audio id="song3" src="songs/mus-3.mp3"></audio>
<audio id="song4" src="songs/mus-4.mp3"></audio>
<audio id="song5" src="songs/mus-5.mp3"></audio>
<audio id="song6" src="songs/mus-6.mp3"></audio>
<%- include('partials/footer')%>